# игнорирует каталоги build с наполненем внутри
build/

#игнорирует все файлы с расширением .jar
*.jar

#исключение - файл module2.jar
!module2.jar

#игнорирует папки, начинающиеся на .idea
.idea*

#исключение - файл workspace.xml
!workspace.xml

#исключение - файлы build
!build*



